*.u1conflict
SessionParser/TestResults/
SessionParser/_ReSharper.SessionParser/
SessionParser/SersionParserTests/bin/
SessionParser/SersionParserTests/obj/
SessionParser/SessionParser/bin/
SessionParser/SessionParser/obj/

web/.monitor
