.punch_left, .punch_right {
	position: absolute; z-index: 2000;
	width: 160px; height: 120px; top:0px; left: 0px;
}
.punch_left {
	transform: scaleX(-1);
	 -moz-transform: scaleX(-1);
	 -o-transform: scaleX(-1);
	 -webkit-transform: scaleX(-1);
	 filter: FlipH;
	 -ms-filter: "FlipH";
}

