<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Congreso abierto</title>
	<meta name="description" content="¿Quién dijo que la política era aburrida?">
	<meta name="author" content="T49 abredatos">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="/css/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/style.css?v=2">
	<link rel="stylesheet" href="/css/style_temp.css?v=2">
	<link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<script src="js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
	<div id="container">
		<header>
		<div id="logo" class="left">
		    <img src="/img/logo.png" alt="Congreso abierto" title="Congreso abierto" width="" height="" />
		</div>

		<div id=share>

		<table border="0" style="margin-top:15px;">

	                <tr>

	                <td>

	                    <!-- facebook -->

	                    <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Compartir</a>

	                    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>



	                 </td>

	                 <td style="width:20px;">&nbsp;</td>

	                 <td>



	                <!-- twitter -->

	                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="abredatos" data-lang="es">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

	                </td>

	                </tr>

	                </table>
		</div>


		<div class="right dummyborder" id="detail">
		<h2 >¿Cansado de oírlos pelear en la tele?</h2>
		<h4 >Consulta el desempeño de nuestros diputados de la manera más divertida.</h4>
		</div>


		</header>

		<div id="select_fighter" class="left dummyborder default_margin" style="display:none">
		<div id="slideshow">
			<div id="filtros">
				<p id="searchform" class="left">
					Busca diputados por nombre:
					<input id="autocomplete" type="text" placeholder="Escribe el nombre de un diputado">
				</p>
				<div class="left partidos" id="parties">
					O por grupo parlamentario:
					<select></select>
				</div>
			</div>
        <div class="clear"></div>
			<div id="slides_cointainer">

				<p>&nbsp;</p><p>&nbsp;</p>
			</div><!-- Close slider container -->

		</div><!-- Close slideshow -->
		</div> <!-- Close select_fighter  -->


		<div id="main" role="main" >
		<div class="fighter left dummyborder default_margin" id="fighter0">
            <h2>Selecciona el diputado 1</h2>
            <h3>para comenzar la contienda</h3>
            <div class="avatar left">
				<img class="winner" src="/img/winner.png">
				<img onclick="return showFightChooser(0)" src="/img/fighter-1.jpg" class="avatar avatarimg" style="position:relative">
				<div id="info0" class="info">
				</div>
			</div>
		</div>
		<div id="vs" class="left">
            <a href="#" class="fightbutton" id="fightbutton" style="display:none" onclick="return fight()"><span><span class="icon"></span>Fight!</span></a>
		</div>
		<div class="fighter left dummyborder default_margin" id="fighter1">
            <h2>Selecciona el diputado 2</h2>
            <h3>para comenzar la contienda</h3>
            <div class="avatar left">
				<img class="winner" src="/img/winner.png">
				<img onclick="return showFightChooser(1)" src="/img/fighter-2.jpg" class="avatar avatarimg" style="position:relative">
				<div id="info1" class="info">
				</div>
			</div>
		</div>
        <img src="/img/vs.png" alt="Versus fight" title="Fight" id="versus">
		</div><!-- close main-->

		<footer class="clear">
            <div class="foot_col left dummyborder">
            <h3>Política en 8 bits</h3>
            <p>Nos hemos metido en cada una de las sesiones para averiguar de qué hablan los diputados. En campaña hablan de unas cosas, pero una vez elegidos nos preguntamos:<br /><br />¿de qué temas hablan los diputados en sus intervenciones?<br /> ¿Quién tiene la peor asistencia?<br /> ¿Quién hace más propuesta?
            </p>
            </div>
            <div class="foot_col left dummyborder">
            </div>
            <div class="foot_col left dummyborder">
            </div>
            <div class="clear"></div>
            <div class="closing dummyborder">
            <p>Desarrollado por el equipo #49 en el concurso #abredatos</p>
            </div>
		</footer>
	</div>

	<div id="fullscreen" style="background-color: red; position:absolute; top:0; left:0"></div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.js"%3E%3C/script%3E'))</script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	<script src="js/script_ruben.js"></script>
	<script src="js/jrumble.1.1.min.js"></script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->

	<script>
		var diputados = <%- JSON.stringify(diputados) %>
		//talk('we are talking!')
	</script>
	<script>
		var _gaq=[['_setAccount','UA-23187148-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>

