<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="/css/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/style.css?v=2">
	<link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">
	<script src="js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
	<div id="container">
		<header>
		<div id="logo" class="left">
		    <img src="/img/logo.png" alt="Congreso abierto" title="Congreso abierto" width="" height="" />
		</div>
		<h2>¿Cansado de oírlos pelear en la tele?</h2>
		</header>

		<div id="select_fighter" class="left dummyborder default_margin" style="display:none">
		<div id="slideshow">
		<div id="slides_cointainer">

			<p><input type="text" placeholder="Escribe el nombre de un diputado"></p>
			<p>&nbsp;</p><p>&nbsp;</p>


			<% for (var i=0; i < diputados.length; i++) { %>
				<div class="mini_fighter left" onclick="return chooseFighter('<%= diputados[i].id %>')"><img src="<%= diputados[i].foto %>"></div>
			<% } %>

		</div><!-- Close slideshow -->
		</div><!-- Close slider -->
		</div> <!-- Close select_fighter  -->


		<div id="main" role="main" >
		<div class="fighter left dummyborder default_margin" id="fighter0">
            <h2>Fighter 1</h2>
            <div class="avatar left" onclick="return showFightChooser(0)"><img src="/img/avatar.jpg"></div>
		</div>
		<div id="vs" class="left">
            <h3>Vs.</h3>
            <a href="#" class="fightbutton" onclick="return fight()"><span><span class="icon"></span>Fight!</span></a>
		</div>
		<div class="fighter left dummyborder default_margin" id="fighter1">
            <h2>Fighter 2</h2>
            <div class="avatar left" onclick="return showFightChooser(1)"><img src="/img/avatar.jpg"></div>
		</div>
		</div><!-- close main-->

		<footer class="clear">
            <div class="foot_col left dummyborder">
            </div>
            <div class="foot_col left dummyborder">
            </div>
            <div class="foot_col left dummyborder">
            </div>
		</footer>
	</div>

	<div id="fullscreen" style="background-color: red; position:absolute; top:0; left:0"></div>


	<script>

		var fighter;
		var diputados = <%- JSON.stringify(diputados) %>

		function flash() {
			$('#fullscreen').height($(document).height()).width($(document).width()).fadeIn(100).fadeOut(200)
			return false
		}

		function fight() {
	logo		flash()
			$.getJSON('/fight/100/2', function(data) {
				console.log(data)
			});
			return false;
		}

		function showFightChooser(fig) {
			fighter = fig
			$('#select_fighter').slideDown()
		}

		function chooseFighter(id) {
			console.log('choosen = '+id)
			for (var i=0; i < diputados.length; i++) {
				if(diputados[i].id === id ) {
					$('#fighter'+fighter+' .avatar img').attr('src', diputados[i].foto)
					$('#fighter'+fighter+' h2').text(diputados[i].nombre)
					break
				}
			}
			$('#select_fighter').slideUp();
			return false
		}
	</script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.js"%3E%3C/script%3E'))</script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
	<script>
		var _gaq=[['_setAccount','UA-23187148-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>

