<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Congreso abierto</title>
	<meta name="description" content="¿Quién dijo que la política era aburrida?">
	<meta name="author" content="T49 abredatos">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="/css/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="/css/style.css?v=2">
	<link rel="stylesheet" href="/css/political.css?v=2">
	<link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">
	<script src="js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
	<div id="container">
		<header>
		<div id="logo" class="left">
		    <img src="/img/logo.png" alt="Congreso abierto" title="Congreso abierto" width="" height="" />
		</div>
		<h2>¿Cansado de oírlos pelear en la tele?</h2>
		</header>

		<div id="select_fighter" class="left dummyborder default_margin" style="display:none">
		<div id="slideshow">
			<p id="sear"><input type="text" placeholder="Escribe el nombre de un diputado"></p>
			<a href="javascript:void(0)" onclick="loadImagesByGroup('PP')">PP</a>
			<a href="javascript:void(0)" onclick="loadImagesByGroup('PSOE')">PSOE</a>
			<a href="javascript:void(0)" onclick="loadImagesByGroup('')">Todos</a>

			<div id="slides_cointainer">

				<p>&nbsp;</p><p>&nbsp;</p>
			</div><!-- Close slider container -->

		</div><!-- Close slideshow -->
		</div> <!-- Close select_fighter  -->


		<div id="main" role="main" >
		<div class="fighter left dummyborder default_margin" id="fighter0">
            <h2>Diputado 1</h2>
            <h3>grupo</h3>
            <div class="avatar left" onclick="return showFightChooser(0)">
				<img src="/img/avatar.jpg"  style="position:relative;width:300px">
				<div id="info0">
					<strong>Puntuación</strong>:<span id="score0"></span>
					<strong>Intervenciones</strong>:<span id="intervenciones0"></span>
					<strong>Palabras</strong>:<span id="palabras0"></span>
					<strong>Salud y sanidad</strong>:<span id="sanidad0"></span>						
					<strong>Clase política</strong>:<span id="clasepolitica0"></span>
					<strong>Economía</strong>:<span id="economia0"></span>	
					<strong>Educación</strong>:<span id="educacion0"></span>	
					<strong>Terrorismo</strong>:<span id="terrorismo0"></span>		
					<strong>Infraestructuras</strong>:<span id="infraestructuras0"></span>															
					<strong>Medio ambiente</strong>:<span id="medioambiente0"></span>															
					<strong>Pensiones</strong>:<span id="pensiones0"></span>																									
				</div>
				<a href="">cambiar de traje</a>				
			</div>
		</div>
		<div id="vs" class="left">
            <a href="#" class="fightbutton" id="fightbutton" style="display:none" onclick="return fight()"><span><span class="icon"></span>Fight!</span></a>
		</div>
		<div class="fighter left dummyborder default_margin" id="fighter1">
            <h2>Diputado 2</h2>
            <h3>grupo</h3>
            <div class="avatar left" onclick="return showFightChooser(1)">
				<img src="/img/avatar.jpg"  style="position:relative;width:300px">				
				<div id="info1">
					<strong>Puntuación</strong>:<span id="score1"></span>
					<strong>Intervenciones</strong>:<span id="intervenciones1"></span>
					<strong>Palabras</strong>:<span id="palabras1"></span>
					<strong>Salud y sanidad</strong>:<span id="sanidad1"></span>						
					<strong>Clase política</strong>:<span id="clasepolitica1"></span>
					<strong>Economía</strong>:<span id="economia1"></span>	
					<strong>Educación</strong>:<span id="educacion1"></span>	
					<strong>Terrorismo</strong>:<span id="terrorismo1"></span>		
					<strong>Infraestructuras</strong>:<span id="infraestructuras1"></span>															
					<strong>Medio ambiente</strong>:<span id="medioambiente1"></span>															
					<strong>Pensiones</strong>:<span id="pensiones1"></span>																									
				</div>
				<a href="">cambiar de traje</a>								
			</div>
		</div>
        <img src="/img/vs.png" alt="Versus fight" title="Fight" id="versus">
		</div><!-- close main-->

		<footer class="clear">
            <div class="foot_col left dummyborder">
            </div>
            <div class="foot_col left dummyborder">
            </div>
            <div class="foot_col left dummyborder">
            </div>
		</footer>
	</div>

	<div id="fullscreen" style="background-color: red; position:absolute; top:0; left:0"></div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.js"%3E%3C/script%3E'))</script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->

	<script>
		var diputados = <%- JSON.stringify(diputados) %>
		//talk('we are talking!')
	</script>
	<script>
		var _gaq=[['_setAccount','UA-23187148-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>

